.container {
  display: grid;
  grid-template-columns: auto 3fr;
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 54px;
  min-height: 100vh;
}

.content-column {
  margin: 0;
  padding: 2rem 0;
  grid-column: 2/2;
}

@media (max-width: 1220px) {
  .content-column {
    grid-column: 1 / span 3;
    grid-row: 2;
    padding: 2rem 2rem;
  }
}
