.container {
  display: grid;
  grid-template-columns: 3fr;
  margin: 0 auto;
  max-width: 1000px;
}

.content-column {
  padding: 2rem 0;
  grid-column: 2/2;
}

@media (max-width: 930px) {
  .content-column {
    padding: 2rem 2rem;
  }
}


