.column {
  grid-column: 1 / span 1;
  padding-top: 2rem;
  padding-right: 2rem;
}

.container {
  position: sticky;
  top: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.side-menu-item {
  cursor: pointer;
  border-radius: var(--border-radius);
  background-color: var(--nav-bg-color);
  margin-top: 3px;
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.text-button {
    font-size: var(--nav-font-size);
}
.arrow {
  margin-left: 4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 3.5px 0 3.5px;
  border-color: #868d96 transparent transparent transparent;
}


@media (max-width: 1220px) {
  .column {
    grid-column: 1 / span 3;
    grid-row: 3;
    padding: 2rem 2rem;
  }

  .container {
    position: static;
    top:unset;
    flex-direction: row;
    flex-wrap: wrap;
  }
}